<h1 class="new-user-heading">Welcome back.</h1>

<div class="new-user-form-container">
  <%= form_for :session, url: session_path do |f| %>
    <div class="new-user-form">
      <p>
        <%= f.email_field :email, placeholder: 'Email' %>
        <%= f.password_field :password, placeholder: 'Password' %>
      </p>
    </div>
    <div class="new-user-submit">
      <%= f.submit 'Sign in' %>
    </div>
  <% end %>
</div>