<div class="center edit-center">
  <div class="user-story-container">
    <% if @user.stories.any? %>
      <% @user.stories.each do |story| %>
        <div class="single-story-container">
            <div class="flex-col-3">

              <div class="story-card-things">
              <div class="user-story-headings">
                <% if story.image.thumb.present? %>
                  <%= image_tag story.image.thumb.url %>
                <% end %>
                <h4><%= link_to story.title, story_path(story) %> posted in <%= link_to story.topic, root_path(topic: story.topic), active: { topic: story.topic } %></h4>
              </div>
      <% end %>
    <% else %>
      <h3 class="no-favs"><%= @user.username.capitalize %> hasn't published any stories yet!</h3>
        <% end %>
      </div>
    </div>
    </div>
  </div>
</div>



