<div class="center edit-center">
  <div class="user-story-container">
    <% if @user.stories.any? %>
      <% @user.stories.each do |story| %>
        <div class="single-story-container">
            <div class="flex-col-3">
              <div class="user-story-headings">
                <% if story.image.thumb.present? %>
                  <%= image_tag story.image.thumb.url %>
                <% end %>
                <h4><%= link_to story.title, story_path(story) %> posted in <%= story.topic %></h4>
              </div>
              <%#= story.body %>
      <% end %>
    <% else %>
      You don't have any stories yet!
        <% end %>
      </div>
    </div>
    </div>
    </div>



