<div class="box-shadow">
  <div class="section-heading-container">
    <h1 class="section-heading" id="sign-up-heading">Start writing with<span class="highlight right-word"> Extra.</span></h1>
  </div>
  <%= render 'users/form' %>
</div>