<h1 class="section-heading">Stories</h1>

<div class="stories-index-container">
  <div class="stories-index-content">

    <div class="index-stories">
      <% @stories.each do |story| %>
        <div class="story-card">
        <h3><%= link_to story.title, story_path(story) %></h3>
        <p><%= story.body %></p>
        </div>
      <% end %>
    </div>

  </div>
</div>