<% content_for :page_title, 'Write a new story' %>

<div class="new-story-container">

  <div class="new-story-page-content">
    <h1>Tell your story.</h1>

    <%= render 'stories/form' %>
  </div>

</div>