footer.footer {
  display: flex;
  flex-direction: column;
  width: 50vw;
  margin-left: auto;
  margin-right: auto;


  .footer-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;


    .footer-nav {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      width: 40%;
      margin: auto;
      //width: 40vw;
    }
  }

}