// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

$primaryYellow: #FFC017;

// New user form
.section-heading {
  display: flex;
  justify-content: center;
}

.user-form-container {
  display: flex;
  flex-direction: column;

  div.error-container {
    display: flex;
    flex-direction: row;
    justify-content: center;

    div.error-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  .user-form {
    display: flex;
    flex-direction: row;
    justify-content: center;


    form#new_user {
      width: 100%;
      display: flex;
      justify-content: center;

      p {
        display: flex;
        justify-content: center;
      }
    }

    input {
      margin-bottom: 10px;
      border: none;
    }

    input:focus {
      outline: none;
    }

    p {
      display: flex;
      flex-direction: column;
      width: 30%;
    }
  }

  .form-submit {
    display: flex;
    justify-content: center;

    input {
      border-radius: 25px;
      height: 3em;
      width: 20%;
    }
  }
}

// Show //
.user-profile-container {
  display: flex;
  flex-direction: column;
  justify-content: center;


  h1 {
    display: flex;
    justify-content: center;
  }

  div.avatar-container {
    display: flex;
    justify-content: center;

    .user-avatar {
      border-radius: 50px;
    }
  }


  .center {
    display: flex;
    justify-content: center;
  }

  .user-story-container {
    display: flex;
    justify-content: center;
    margin: 0 3rem 0 3rem;
    width: 70vw;

    .single-story-container {
      display: flex;
      flex-direction: column;

      p {
        margin: 0.5rem 0 3rem 0;
      }

      .user-story-headings {
        display: flex;
      }
    }

    .user-story-container {
      display: flex;
      flex-direction: column;

    }

    img {
      height: 3rem;
      border-radius: 50px;
      margin-right: 1rem;
    }
  }

}



// Edit //
.edit-profile-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 3rem;

  .edit-profile-display {
    max-width: 50vw;
    margin: 0 40vw 0 3rem;

    .no-stories {
      height: 50vh;
    }

    img {
      border-radius: 40px;
    }

    .edit-story-image {
      border-radius: 0;

      img {
        width: 100%;
        margin-top: 4rem;
        margin-bottom: 1rem;
        border-radius: 5px;
      }
    }

    .flex-center {
      display: flex;
      justify-content: center;

      .flex-col {
        display: flex;
        flex-direction: column;

        img {
          margin: 30px 30px 0 30px;
          border-radius: 50%;
        }

        h1 {
          margin-bottom: 3rem;
        }
      }
    }

    .edit-story-title {
      font-weight: bolder;
    }
  }

  .edit-profile-edit {
    //min-width: fit-content;
    //max-width: 40vw;
    width: 40vw;
    height: fit-content;
    margin: 0 3rem 0 60vw;

    position: fixed;

    .edit-form-p {
      width: 70%;

      input {
        border: black 1px solid;
        border-radius: 5px;
        height: 1.4em;
      }
    }
      input[type="submit"] {
        width: 70%;
        height: 2em;
        border: none;
        background-color: $primaryYellow;
      }

      input[type="submit"]:hover {
        background-color: grey;
      }
  }
}