// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

$primaryYellow: #FFC017;

// New user form
.section-heading {
  display: flex;
  justify-content: center;
}

.user-form-container {
  display: flex;
  flex-direction: column;

  div.error-container {
    display: flex;
    flex-direction: row;
    justify-content: center;

    div.error-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  .user-form {
    display: flex;
    flex-direction: row;
    justify-content: center;


    form#new_user {
      width: 100%;
      display: flex;
      justify-content: center;

      p {
        display: flex;
        justify-content: center;
      }
    }

    input {
      margin-bottom: 10px;
      border: none;
    }

    input:focus {
      outline: none;
    }

    p {
      display: flex;
      flex-direction: column;
      width: 30%;
    }
  }

  .form-submit {
    display: flex;
    justify-content: center;

    input {
      border-radius: 25px;
      height: 3em;
      width: 20%;
    }
  }
}

// Show //
.user-profile-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 5rem;

  h1 {
    display: flex;
    justify-content: center;
  }

  div.avatar-container {
    display: flex;
    justify-content: center;

    .user-avatar {
      border-radius: 50px;
    }
  }


  .center {
    display: flex;
    justify-content: center;
  }

  .user-story-container {
    display: flex;
    justify-content: center;
    margin: 3rem 3rem 0 3rem;

    .single-story-container {
      display: flex;
      flex-direction: column;

      p {
        margin: 0.5rem 0 3rem 0;
      }

      .user-story-headings {
        display: flex;
        flex-direction: row;


        img {
          height: 3rem;
          border-radius: 50px;
          margin-right: 1rem;
        }
      }

      .trix-content {
        max-height: 9em;
        overflow: hidden;

        img {
          display: none;
        }

        .attachment__caption {
          display: none;
        }
      }
    }

    .user-story-container {
      display: flex;
      flex-direction: column;
    }


  }

}



// Edit //
.edit-profile-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 3rem;

  .edit-profile-display {
    max-width: 50vw;
    margin: 0 40vw 0 3rem;

    .no-stories {
      height: 50vh;
    }

    img {
      border-radius: 40px;
      display: none;
    }

    .edit-story-image {
      border-radius: 0;

      img {
        width: 100%;
        margin-top: 4rem;
        margin-bottom: 1rem;
        border-radius: 5px;
      }
    }

    .flex-center {
      display: flex;
      justify-content: center;

      .flex-col {
        display: flex;
        flex-direction: column;

        img {
          margin: 30px 30px 0 30px;
          border-radius: 50%;
        }

        h1 {
          margin-bottom: 3rem;
        }
      }
    }

    .edit-story-title {
      font-weight: bolder;
    }
  }

  .edit-profile-edit {
    //min-width: fit-content;
    //max-width: 40vw;
    min-width: 22vw;
    height: fit-content;
    margin: 0 0 0 9vw;
    // margin: 0 3rem 0 60vw;
    // position: fixed;
   // width: 100vw;

    .edit-form-p {
      width: 100%;

      input {
        border: black 1px solid;
        border-radius: 5px;
        height: 1.4em;
      }
    }
      input[type="submit"] {
        width: 70%;
        height: 2em;
        border: none;
        background-color: $primaryYellow;
      }

      input[type="submit"]:hover {
        background-color: grey;
      }
  }
}

img.user-story-hero {
  width: 100%;
  height: 15rem;
  object-fit: cover;
}

.edit-profile-container-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.edit-profile-container {
  display: flex;
  flex-direction: column;
  max-width: 80vw;

  .edit-profile-avatar {
    display: flex;
    // width: available;
    margin-bottom: 5rem;

    .edit-username-avatar {
      display: flex;
      flex-direction: column;
      justify-content: center;

      img {
        border-radius: 100%;
      }
    }
  }

  div.trix-content {
    max-height: 100px;
    overflow: hidden;

    .trix-content pre {
      display: none;
    }
  }

  img {
    overflow: hidden;
    text-overflow: ellipsis;
  }

}

action-text-attachment {
  display: none;
}

figure.attachment {
  display: none;

  img, figcaption {
    display: none;
  }
}

.storycards-partial {
  width: 50px;
}

.edit-center {
  display: flex;
  flex-direction: column;
  width: auto;
  margin: 0 5rem 0 5rem;
}

.user-story-container-2 {
  display: flex;
  justify-content: center;
}