// Sass variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";

// Overriding any non-variable Sass must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }

$primaryYellow: #FFC017;
$logoFont: 'Newsreader';
$secondaryFont: 'Inter';
$logoFontWeight: 100;
$highlight: linear-gradient(180deg, $primaryYellow 65%, white 65%);


.col-password_digest {
  display: none;
}

#header {
  h1#site_title {
    color: black;
  }

  ul#utility_nav li.menu_item a {
    color: black;
  }
}

body.active_admin {
  div.header#header {
    background-image: none;
    background-color: $primaryYellow;

    ul.header-item {
      li.current {
        a {
          background: white;
        }
      }

      li.menu_item {
        a {
          color: black;
          text-shadow: none;
        }

        a:hover {
          background: white;
        }
      }

      li.menu_item#dashboard {
        display: none;
      }
    }
  }
}

#title_bar.title_bar {
  background-color: $primaryYellow;
  background-image: none;
  border: none;

  span.breadcrumb a, span.breadcrumb_sep {
    color: black;
    text-shadow: none;
  }

  h2#page_title {
    color: black;
    text-shadow: none;
  }
}