// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

div.pages-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 3rem 19vw 3rem 19vw;


  h1.pages-heading {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: xxx-large;
  }

  div.pages-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}