// Place all the styles related to the Stories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
$primaryYellow: #FFC017;
$primaryBlue: #174BFF;
$primaryFont: monospace;

div.topics-container {
  display: flex;
  justify-content: center;
  margin: 0 0 4rem 0;


  nav.topics {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 50vw;

    a {
      color: black;
      text-decoration: none;
      &.active {
        color: $primaryYellow;
      }
    }
    div.topic-btn {
      margin: 0 0.5rem 0.5rem 0.5rem;
      border-color: $primaryYellow;
      //background-color: black;
    }
    .topic-btn:hover {
      background-color: $primaryYellow;
      border-color: $primaryYellow;
      a {
        color: $primaryBlue;
      }
    }
  }
}


// Story SHOW
.story-header-img {
  width: 100%;
}

img.story-header-img {
}

.story-header-img-wrapper {
  height: 100%;
}

.story-show-container {
  display: flex;
  justify-content: center;
  margin: 3rem;

  .story-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 14vw 0 14vw;

    .story-content-container {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }

    .story-content {
      h1 {
        display: flex;
        justify-content: center;
      }

      p {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 0 8rem 0 8rem;
      }
    }

    .story-actions {
      display: flex;
      justify-content: space-evenly;
      margin-top: 2em;
    }
  }
}



// Story NEW
.new-story-container {
  display: flex;
  justify-content: center;

  .new-story-page-content {
    display: flex;
    flex-direction: column;
    width: 50vw;

    h1 {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-bottom: 1.5em;
    }

    .story-form {
      width: fit-content;
    }

    .new-story-col-2 {
      display: flex;
      justify-content: space-evenly;
      height: 3vh;

      .new-story-dropdown-field {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 1.6em;
      }
    }

    select#story_topic {
      border: none;
      font-size: medium;
      color: #707070;
      font-family: $primaryFont;
    }

    select#story_topic:hover {
      // Add hover fx
    }

    select#story_topic:focus {
      outline: none;
    }

    input#story_title {
      width: 40vw;
      padding-bottom: 3em;
      margin-right: 0.4em;
      border: none;
      font-size: 1.8em;
      font-family: $primaryFont;
    }

    input#story_title:hover {
      // box-shadow: 5px 5px #6e6e6e;
    }

    input#story_title:focus {
      outline: none;
    }

    textarea#story_body {
      height: 35vh;
      width: 100%;
      border: none;
      margin-top: 5em;
      padding-top: 2em;
      font-family: $primaryFont;
      font-weight: normal;
      font-size: 1.1em;
      caret-color: black;
    }

    textarea#story_body::placeholder {
      font-size: 1.5em;
      text-align: center;
      font-family: $primaryFont;
      font-weight: bold;
      width: auto;
    }

    textarea:focus {
      outline: none;
    }
  }
}

// Stories INDEX

.story-card-thumb-img {
  width: 60px;
}

.section-heading {
  display: flex;
  justify-content: center;
  margin-top: 3rem;

  .right-word {
    margin: 0 0 0 11px;
  }
  .left-word {
    margin: 0 11px 0 0;
  }
}

.section-heading-container {
  display: flex;
  justify-content: center;
}

h1.section-heading {
  //background: linear-gradient(180deg, white 65%, $primaryYellow 65%);
}

.highlight {
  background: linear-gradient(180deg, white 65%, $primaryYellow 65%);
}

.stories-index-container {
  display: flex;
  flex-direction: row;
  justify-content: center;

  .stories-index-content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 0 1.5rem 0 1.5rem;

    .index-stories {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;

      .story-card {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin: 0 2rem 0 2rem;
        max-width: 20rem;
        min-width: 15rem;
        padding: 0 15px 0 15px;

        h3 {
          margin-bottom: 0;
        }

        p {
          max-height: 5.5em;
          overflow: hidden;
        }
      }
    }
  }
}

.hero-line.mid {
  background-color: black;
  height: 1px;
  margin: 2rem 1rem 2rem 1rem;
}

