// Place all the styles related to the Stories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

$primaryYellow: #FFC017;

// Story SHOW
.story-show-container {
  display: flex;
  justify-content: center;
  margin-top: 3rem;

  .story-container {
    display: flex;
    flex-direction: column;

    .story-actions {
      display: flex;
      justify-content: space-evenly;
      margin-top: 2em;
    }
  }
}

// Story NEW
.new-story-container {
  display: flex;
  justify-content: center;

  .new-story-page-content {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
  }
}