// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// New user form
.section-heading {
  display: flex;
  justify-content: center;
}

.new-user-form-container {
  display: flex;
  flex-direction: column;

  .new-user-form {
    display: flex;
    justify-content: center;

    form#new_user {
      width: 100%;
      display: flex;
      justify-content: center;
    }

    input {
      margin-bottom: 10px;
      border: none;
    }

    input:focus {
      outline: none;
    }

    p {
      display: flex;
      flex-direction: column;
      width: 30%;
    }
  }

  .new-user-submit {
    display: flex;
    justify-content: center;
  }
}

