<div class="hero-container">
  <div class="hero-line"></div>
  <div class="hero-background">
    <div class="hero-content">
      <h1>Where good ideas<br/> find you</h1>
      <div class="hero-p">
      <p>
        Read and share new perspectives on just about any topic. Everyone’s welcome.
      </p>
      </div>
      <p class="hero-btn btn">Get Started</p>
    </div>
  </div>
</div>