<header>
  <div class="logout-header-container">

    <div class="logo-tagline-container">
      <h1 class="logo"><%= link_to 'Extra', root_path %></h1>
      <h2 class="tagline">What will you write about?</h2>
    </div>

    <nav>
      <%= link_to 'Write', new_story_path %>
    </nav>

  </div>
</header>